body {
	background-color: #F6F6F6;
	font-size: 16px;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
	font-family: 'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 500;
}
.container {
	padding-left: 0;
	padding-right: 0; 
}
.container-wrap {
	padding: 16px;
	max-width: 1250px;
	margin: 0 auto;
}

.container-wrap--grid {
	padding: 16px;
	max-width: 1250px;
	margin: 0 auto;
}
