<header class="labHeader clearfix">
	<div class="col-sm-9 labHeader__headline">
		{# <img src="/resources/img/lbnl_logo_stripped-120.png" class="labHeader__brand"> #}
		<img src="//placehold.it/120x100&text=Lab+Logo" alt="placeholder" class="labHeader__brand">
		<span class="labHeader__name hidden-xs">Lawrence Berkeley National Laboratory</span>
		<span class="labHeader__name visible-xs">Berkeley Lab</span>
	</div>
	<section class="col-sm-3 hidden-xs" style="text-align:right;">
		<nav class="labHeader__links grid__item col-md-4 col-sm-12">
			<a href="" target="_blank" class="labHeader__link">A-Z Index</a>
			<a href="" target="_blank" class="labHeader__link">Phonebook</a>
			<a href="" target="_blank" class="labHeader__link">Careers</a>
		</nav>
		<div class="labHeader__DOE col-md-8 hidden-sm">
			{# <img src="http://localhost:1234/resources/img/full_doe_logo_white.png" alt=""> #}
			<img src="//placehold.it/200x120&text=Department+of+Energy" alt="">
		</div>
	</section>
</header>