{% extends "layout/base.twig" %}
{% block content %}
	<div class="col-sm-8">
	{% for post in posts %}
		{% include [post.post_type~'/preview.twig', 'posts/preview.twig'] %}
	{% endfor %}
	</div>
{% endblock %}
