{% extends 'layout/base.twig' %}

{% block hero %}
	<div class="theater__banner">
		<div class="container">
			<div class="theater__container">
				<div class="theater__video">
					<iframe src="//www.youtube.com/embed/6MEAL7uq1ec" frameborder="0" allowfullscreen>
						Loading...
					</iframe>
				</div>
				<hgroup class="theater__info">
					<h1 class="theater__title">Video - Science and Tech Talks</h1>
					<h2 class="theater__author">Erna Graz</h2>
				</hgroup>
				<aside class="theater__share">
					<div class="theater__icon">
						<i class="icon-collapse"></i> Details
					</div>
					<div class="theater__icon">
						<i class="icon-facebook-sign"></i> Facebook
					</div>
					<div class="theater__icon">
						<i class="icon-twitter-sign"></i> Tweet
					</div>
					<div class="theater__icon">
						<i class="icon-google-plus-sign"></i> Google +
					</div>
				</aside>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
{% endblock %}