/*  ==================================================
	News
	================================================== */

.news__title {
	color: #008000;
}

.news__divider {
	margin: 8px 0;
}

/*  ==================================================
	News Teaser - previews
	================================================== */

.tease {
	margin: 16px 0;
	border-top: 7px #008000 solid;
}

.tease-container {
	padding: 16px;
	border-left:   2px #DCDCDC solid;
	border-right:  2px #DCDCDC solid;
	border-bottom: 2px #DCDCDC solid;
	background-color: #FAFAFA;

}

.tease__title {
	margin-top: 0px;
}

.tease__thumbnail {
	float: left;
	padding-right: 16px;
}
.tease__title a {
	color: #252525;
	-webkit-transition: color 500ms;
	   -moz-transition: color 500ms;
			transition: color 500ms; 

	&:hover {
		color: #428bca;
	}
}
