/* This file will have the vaiables for bootstrap and other files */
$off-black:    #252525;
$off-white:    #FCFCFC;
$component-bg: #FCFCFC;
$gray-border:  #CECECE;
$grey-border:  $gray-border;

$lab-blue: 	   #00395A; 	/* Laboratory Blue (Slightly better version) */
$lab-old-blue: #0F405B; 	/* Laboratory Blue, According to lbl.gov banner */
$pbd-green:    #008000;
$pbd-yellow:   #ffd059;
$pbd-yellow-green: #9ACD32;
$pbd-cream: papayawhip;


$brand-color1: #008000; 	/* PBD Green */
$brand-color2: #ffd059; 	/* PBD Yellow */
$brand-color3: #9ACD32; 	/* PBD Yellow-Green */
$brand-color4: papayawhip;/* A nice cream color that goes well with green */
$brand-color5: #252525; 	/* An off black */
