body {
	background-color: #FCFCFC;
	font-size: 16px;
}

/*  ==================================================
	Header
	================================================== */
.main_header {

}

.brand {

}

.brand__title {
	a {}
}

.brand__description {

}

.main_nav {
	
}

.page-item {

}

.current_page_item {
}
/*  ==================================================
	Navigation
	================================================== */
@media (min-width: 768px){
	.navbar {
		border-radius: 0;
		min-height: 0;
	}
	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px; 
	}
	.navbar-brand {
		padding-top: 9px;
		padding-bottom: 9px; 
	}
}

.breadcrumb--pbd {
	margin-bottom: 0;
	background-color: #FAFAFA;
}

.navbar {
	border-radius: 0;

	&.navbar--green {
		background-color: #008000;
		border-bottom: #9ACD32 4px solid;
		border-left: none;
		border-right: none;
	}
}

/* the navigation link selectors... */
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
	color: #FAFAFA;
}

.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px; 
}
/* the navigation hover selectors... wtf... */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
	color: #ffd059;
}

.sidebar {

}

.widget__title {
	font-size: 18px;
	font-weight: bold;
}


/*  ==================================================
	Main Content
	================================================== */

.main_content {

}


/*  ==================================================
	Page
	================================================== */

.page__header {
	margin: 0 0 16px 0;

}

/*  ==================================================
	Footer
	================================================== */

.mainFooter {
	border-top: lighten(#444444, 10%) 4px solid;
	background: #444444;
	padding: 1.5em;
	padding: 1.5rem;
	color: #FFFFFF;
	margin: 0 auto;
}

.mainFooter__item {
	vertical-align: top;
	text-align: left;
}
.mainFooter__link {
	text-decoration: none;
	color: #FAFAFA;
}
.mainFooter__linkGroup {
	width: auto;
	width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    min-width: 250px;
	margin: 0 auto 20px auto;
}
.mainFooter__subheader {
	
}
