body {
	background-color: #F2F2F2;
	font-size: 16px;
}
.container-wrap {
	border-left: 4px #DEDEDE solid;
	border-right: 4px #DEDEDE solid;
	background-color: #FCFCFC;
	padding: 16px 32px;
	max-width: 1250px;
	margin: 0 auto;
}
