.card-container {
	border-top:5px $pbd-green solid;
	text-align: center;
	max-width: 240px;
}

.card {
	background-color: $component-bg;
	border: 1px $gray-border solid;
	border-top: none;
	width: 100%;
	max-width: 240px;
	padding: 0 8px;
	@include transition-property(background-color);
	@include transition-duration(600ms);

	&:hover {
		background-color: #FDF5E6;
	}
}

.card__link {
	color: $pbd-green;
	text-decoration: none;
	@include transition-property(color);
	@include transition-duration(500ms);

	&:hover {
		color: $pbd-green;
		text-decoration: none;
	}
}

.card__title {

}

.card__thumb {
	max-width: 168px;
	width: 90%;
	margin: 8px 0;
	padding: 0 8px;
}

.card__subtitle {
	font-size: 20px;
	margin:0 0 8px 0;
}

.card__content {
	font-size: 16px;
	margin:0 0 8px 0;
}