/*  ==================================================
	Widgets
	================================================== */
.widget {
	border: 3px $gray-border solid;
	border-radius: 5px;
	padding: 16px;
	background: $component-bg;
	margin-bottom: 16px;
}

.widget__title {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
}
