/*  ==================================================
	Buttons and Clickables
	================================================== */
.back-to-top {
    display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 175px;
	height: 40px;
	text-align: center;
	font-size: 23px;
	background-color: #005200;
	color: $off-white;
	text-decoration: none;
	border-top: $pbd-yellow-green 1px solid;
	z-index: 1;
	&:hover {
		background-color: #006B00;
		color: $pbd-yellow;
	}
}