/*  ==================================================
	Main Navigation
	================================================== */

.breadcrumb--pbd {
	margin-bottom: 0;
	background-color: $component-bg;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0px;
}

.navbar--green {
	background-color: $pbd-green;
	border-bottom: $pbd-yellow-green 4px solid;
	border-left: none;
	border-right: none;
	color: $off-white;

	// the navigation link selectors...
	// ugly nesting thanks to bootstrap
	.mainNav__link > a {
		color: $off-white;

		&:hover, &:focus {
			color: $pbd-yellow;
			background-color: $pbd-green;
		}
	}
}
.mainNav__brand {
	margin: 0;
	font-size: 24px;
	font-weight: 500;
	color: $off-white;

	&:hover {
		color: $pbd-yellow;
	}

}
.navbar-brand a {
	color: $off-white;
	text-decoration: none;
}
.navbar-nav > li > a {
	padding-top: 5px;
	padding-bottom: 5px; 
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 6px 7px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: $off-black;
	color: $off-white;
	border: 1px solid transparent;
	border-radius: 4px;
	@include transition-property(background-color);
	@include transition-duration(600ms);
	
	&:hover {
		background-color: lighten($off-black, 5%);
	}
}

/*  ==================================================
	Main Navigation B
	================================================== */

.navbar-b {
	display: block;
	&:before, &:after {
		content: " ";
    	display: table;
	}
	&:after {
		clear: both;
	}
}

.navbar-b--green {
	background-color: $pbd-green;
	border-bottom: $pbd-yellow-green 4px solid;
	border-left: none;
	border-right: none;
	color: $off-white;
}

.nav-b {
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.nav__right {
	@extend .nav-b;
	float: right;
	@include rem-fallback(padding-right, 2);
}

.nav__left {
	@extend .nav-b;
	float: left;
	@include rem-fallback(padding-left, 2);
}

.nav__item {
	position: relative;
	display: inline-block;
	@include rem-fallback(padding, 0.5);
	@include rem-fallback(padding-right, 0.75);
	@include card-box-shadow();

	&:hover, &:hover .nav__link {
		background-color: #009000;
	}


}

.nav__link {
	color: $off-white;
	text-decoration: none;

	&:hover, &:focus {
		color: $pbd-yellow;
		text-decoration: none;
	}
}

.navbar__brand {
	margin: 0;
	@include rem-fallback(padding, 0.5);

	a {
		@extend .nav__link;
		@extend %c-h4;
	}
}

/*  ==================================================
	Sub Navigation B
	================================================== */

.no-touch .nav__item:hover .subnav,
.touch .nav__item:hover .subnav.is_open {
	position: absolute;
	display: block;
	width: auto;
	height: auto;
	@include rem-fallback(padding, .5, 1);
	overflow: visible;
	clip: auto;
	left: -3px;
	min-width: 105%;
	box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
	border: 3px $pbd-yellow-green solid;
	border-top: 0;
	@include rem-fallback(margin-top, .5);
}

.subnav {
	@extend .nav-b;
	@extend %sr-only;
	background-color: #009000;
	z-index: $z-subnav;
	@include card-box-shadow();
}

.subnav__link {
	@extend .nav__link;
}
