.wp_search {
  display: none;
}

.wp_search__input {
  width:100%;
  background-color: #04311e;
  color: yellowgreen;
  font-family: $base-header-font-family;
  border: none;
  border-radius: 0;
  @include vendor(appearance, none, false);
  @include font-size(2);

  @include placeholder(true) {
    color: yellowgreen;
    
    &::before {
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      content: " ";
      padding-right: 0.25rem;
      padding-left: 0.25rem
    }
  }
}

.wp_search__field {
  background-color: #04311e;
  padding: 0.7% 2.5%;
  
}

.wp_search__input:focus {
  outline: none;
}
