{% include "components/header.twig" %}

<body class="{{body_class}}" data-source="base">
	{#
	{% include 'components/lab_header.twig' %}
	#}
	<header id="main_header" class="main_header" role="banner">
		{#
		<div class="brand">
			<h1 class="brand__title">
				<a href="/" title="{{ bloginfo('name', display) }}" rel="home">
					{{ bloginfo('name') }}
				</a>
			</h1>
		</div>
		#}
		{% block navigation_bar %}
			{% include "components/navbar.twig" %}
		{% endblock %}

	</header><!-- #masthead -->
	{% block hero %}
	{% endblock %}
	<div class="container-wrap">
		<main class="container" role="main">
		
			<div class="row">
				
				{% block content %}
					Sorry, No Content
				{% endblock %}

				{% block sidebar %}
				{% endblock %}
				
			</div>
	
		</main>
	</div>
	
	{% block footer %}
		{% include "components/footer.twig" %}
	{% endblock %}
{{wp_footer}}
{% block scripts %}
{% endblock %}
</body>
</html>
