<footer id="mainFooter" class="mainFooter" role="contentinfo">
	<div class="row">
		<div class="col-md-3 col-sm-6">
			<article class="mainFooter__linkGroup">
				<h4 class="mainFooter__subheader">Associated Organizations</h4>
				<a href="" class="mainFooter__link">U.S. Department of Energy</a><br>
				<a href="" class="mainFooter__link">Office of Science</a><br>
				<a href="" class="mainFooter__link">University of California</a><br>
			</article>
		</div>
		<div class="col-md-3 col-sm-6">
			<article class="mainFooter__linkGroup">
				<h4 class="mainFooter__subheader">Getting in Touch</h4>
				<a href="pbdwebmaster@lbl.gov" class="mainFooter__link">Contact the Webmaster</a><br>
				<a href="/comments" class="mainFooter__link">Comments</a><br>
				<a href="" class="mainFooter__link">Privacy and Security Policies</a><br>
			</article>
		</div>
		<div class="col-md-3 col-sm-6">
			<article class="mainFooter__linkGroup">
				<h4 class="mainFooter__subheader">Common Links</h4>
				<a href="/people" class="mainFooter__link">Scientist Pages</a><br>
				<a href="/onestop" class="mainFooter__link">One Stop</a><br>
				<a href="/requests" class="mainFooter__link">Making a Request</a><br>	
			</article>
		</div>
		<div class="col-md-3 col-sm-6">
			<article class="mainFooter__linkGroup">
				<img src="http://placehold.it/150x50" width="150">
				<br>
				<br>
				<img src="http://placehold.it/75x50" width="75">
			</article>
		</div>
	</div>
	<div class="site-info">
		<?php do_action( 'bioscience_credits' ); ?>
	</div><!-- .site-info -->
</footer><!-- #colophon -->
