<nav class="navbar navbar-default navbar--green" role="navigation">
  	<!-- Brand and toggle get grouped for better mobile display -->
  	<div class="navbar-header">
  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
  			<span class="sr-only">Toggle navigation</span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  		</button>
  		<a class="navbar-brand" href="<?php echo esc_url( home_url( '/' ) ); ?>">Physical Biosciences</a>
  	</div>
	<?php 

	$nav_defaults = array(
		'theme_location'  => 'primary',
		'menu'            => 'Primary Menu',
		'container_class' => 'collapse navbar-collapse navbar-ex1-collapse',
		'container_id'    => '',
		'menu_class' 	  => 'nav navbar-nav',
		'menu_id'         => 'main_nav',
		'echo'            => true,
		'items_wrap' 	  => '<ul id="%1$s" class="%2$s">%3$s</ul>'
	);
	?>

	<?php wp_nav_menu( $nav_defaults ); ?>